@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model EPiServer.Core.PageData

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Name</title>
    <link rel="stylesheet" href="@Url.Content("~/Static/css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Static/css/bootstrap-responsive.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Static/css/media.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Static/css/style.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Static/css/editmode.css")" />
    <script type="text/javascript" src="@Url.Content("~/Static/js/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Static/js/bootstrap.js")"></script>

</head>
<body>
    @Html.RenderEPiServerQuickNavigator()
    @Html.FullRefreshPropertiesMetaData()

    @*<div class="container">
        <div id="header">
            <div class="span2">
                <img src="~/Static/gfx/logotype.png" />
            </div>
            <div class="span9 d-flex flex-row">
                @{
                    Html.RenderPartial("Navigation", Model);
                }
            </div>
        </div>
    </div>*@
    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
